## 1 - C++

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
targ_*


## 2 - MOOS

# Log files
*.alog
*.blog
*.ylog
*.klog
LOG*/
XLOG*/

*.moos++
*._moos
*._bhv
.LastOpenedMOOSLogDirectory
MOOSLog*/

# Build dirs
build/
bin/
lib/

# Temp files (emacs, etc)
*#
*~
.vscode/*

**/log**

.gitlab-ci.yml


# captures from wireshark
*.pcap
*.pcapng

# mavproxy run files

eeprom.bin
*.tlog**
*.log**
terrain

*/simulation/**

# except for file: scripts/simulation/sim.param and scripts/simulation/hardware.param and scripts/simulation/mav_sim_old.param
!scripts/simulation/sim.parm
!scripts/simulation/hardware.parm
!scripts/simulation/mav_sim_old.parm

vpositions.txt
vnames.txt

Backup_dunebuild/**

Maps/**

moos-ivp-editor-0.2.0.vsix

GazeboSim/models/**
GazeboSim/worlds/**
