# Config file for drone simulation and field deployment

# Global simulation parameters
simulation:
  useMoosSimPid: true # Use MOOS-IvP Vechicle simulator
  time_warp: 10
  number_of_drones: 3

  # Refuel/Replace parameters
  refuel_total_range: 3000       # meters total distance on full "tank"
  refuel_threshold: 1000         # meters odometry at which to request replacement
  # Vehicle roles
  num_scout_drones: 1            # first N drones are scouts (deployed immediately)
  num_refuel_drones: 2           # next N drones are refuel-replacements (held in reserve)
  # Fire weights (importance levels)
  fire_default_weight: 1.0       # default priority weight for a discovered fire

  ardupilot_ip: "0.0.0.0"
  ardupilot_protocol: "udp"
  fdm_port_in_default: 9002
  ardupilot_port_default: 14550

# Field deployment parameters
field:
  home_altitude: 106.1
  ardupilot_ip: "ttySAC0" # serial port
  ardupilot_port: "115200" # baudrate
  ardupilot_protocol: "serial"
  speed:
    max: 19 # m/s
    min: 11 # m/s

moos:
  datum:
    lat: 45.505556
    lon: -73.586674

  # shoreside / Ground Station parameters
  shore_ip: 10.0.60.1
  defaultPorts:
    DB: 9000
    PSHARE: 9200

missionParams:
  log_enabled: false # If true, the mission will be logged to a file
  mission_duration: 600 # s - The duration of the mission (20min)

  # Path planning parameters
  voronoi_search_enabled: true # If true, the Voronoi algorithm will be used to set the path for the drone, else TMSTC* will be used
    # else, the TMSTC* algorithm will be used to set the path for the drone
  voronoi_setpoint_method: gridsearch # The method used to set the path for the voronoi algorithm. Can be "gridsearch", "center" or "centroid"

  # The ratio between the region grid cell distance in the TMSTC* algorithm and the sensor range. The sensor range is the maximum distance from the drone that the sensor can detect fires
  # TMSTC_gridsizeSensorRangeRatio: 0.5
  TMSTC_gridsizeSensorRangeRatio: 0.4 # might work better in simulation
  TMSTC_config_vmax: 18 # [m/s] The maximum speed of the drone (to be used in the TMSTC* algorithm when calculating the grid travel time)
  TMSTC_config_phi_max_rad: 45 # [degrees] The maximum bank angle of the drone (to be used in the TMSTC* algorithm when calculating the grid travel time)
  TMSTC_point_filtering: true # If true, the TMSTC* algorithm will filter out the grid cells that are already visited when replanning
  # points not outside the search Area and in ignored region will always be removed.

  # Fire parameters:
  fire_file_default: "fires_03.txt" # The file containing the fire data if generate not set
  # fire_file_default: "fires_01.txt" # The file containing the fire data if generate not set
  fire_generate: false # If true, the fires will be generated randomly, otherwise they will be read from a file
  fire_count: 3 # The number of fires to be placed in the region at launch
  fire_sep_min: 50 # m - The minimum separation between fires
  fire_color: red # The color of the fire, or "vehicle" if the fire should take the color of the vehicle as well
  fire_spawn_count: 0 # The number of fires to spawn after the mission has started
  fire_spawn_interval: 300:500 # s - The time interval for which the delayed fires will be spawned (randomly) ( 0 <= [tmin,tmax] <= mission_duration)

  # Ignored region parameters
  ignoredRegion_file_default: "ignoredRegions.txt" # The file containing the ignored region data if generate not set
  # ignoredRegion_file_default   : "regions_c8_sep150.txt" # The file containing the ignored region data if generate not set
  ignoredRegion_generate: true # If true, the ignored regions will be generated randomly, otherwise they will be read from a file
  ignoredRegion_count: 1 # The number of ignored regions to be placed in the region at launch
  ignoredRegion_sep_min: 150 # m - The minimum separation between ignored regions
  ignoredRegion_spawn_count: 0 # The number of ignored regions to spawn after the mission has started
  ignoredRegion_spawn_interval: 300:500 # s - The time interval for which the delayed ignored regions will be spawned (randomly) ( 0 <= [tmin,tmax] <= mission_duration)

  # Mission operator parameters - For simulating many missions
  mission_operator_reset_delay: 2 # s - Delay between mission completion and reset in (actual) seconds

  mission_operator_TMSTC_missions: 2 # The number of TMSTC* missions to be run
  mission_operator_voronoi_missions: 0 # The number of VORONOI_SEARCH missions to be run

  # Region parameters: The region in which the mission is to be conducted
  # TOOL: https://www.keene.edu/campus/maps/tool/
  use_moos_region: false

  # region_lonlat: | # Larger region
  #   10.1356602, 63.4006697
  #   10.1259184, 63.3971146
  #   10.1233006, 63.3922521
  #   10.1484919, 63.3894265
  #   10.1663446, 63.3964228
  #   10.1657867, 63.4000164
  #   10.1519251, 63.4015728

  region_lonlat: |  # Montreal DT Triangle
    -73.61611, 45.508965
    -73.592568, 45.487191
    -73.570411, 45.506101

  # Waypoint parameters
  # capture_radius: 50 # m  - The distance from the waypoint that the drone must be within to consider it captured
  capture_radius: 30 # works better in simulation
  slip_radius: 75 # m   (both currently modify sim parameters)

  # Sensor model parameters
  sensor_detect_pd: 1.0 # Probability of detection at full strength
  sensor_radius_min: 20 # Inner radius with full detection probability (meters)
  sensor_radius_max: 30 # Outer radius where detection begins to drop (meters)
  sensor_color: white # Visualization color for the sensor footprint
  sensor_altitude_max: 130 # Altitude at which the sensor achieves max range (meters)
  sensor_radius_fixed: true # Keep radius constant regardless of altitude

  # Grid parameters
  grid_cell_size: 10 # m - The distance between each waypoint in the grid
  grid_cell_max_count: 20 # Max number og visit before it is fully coloured
  grid_cell_decay_time: 5 # s - The decay rate of the grid cell value. Every x seconds it is decreased by 1 // 0 means no decay

  # Collision avoidance parameters
  encounter_radius: 100 # m - The distance from the drone that the other drone must be within to consider it encountered
  near_miss_radius: 50 # m - The distance from the drone that the other drone must be within to consider it near missed
  collision_radius: 10 # m - The distance from the drone that the other drone must be within to consider it collided

drones:
  - name: "skywalker"
    color: "orange"
    start_orientaton_moos: # +x is east, +y is north [m] !!MOOS seems to double the distance,  so 50m east is a distance of 100 in MOOS!!
      x: 0
      y: 0
      hdg: 46 # deg
    # simulation: # Can be automated away (for now it is hardcoded)
    #   ardupilot_port: 14550
    #   fdm_port_in: 9002

  - name: "skyfollower"
    color: "hotpink"
    start_orientaton_moos: # +x is east, +y is north [m]
      x: -100
      y: -5
      hdg: 36 # deg
    # simulation:
    #   ardupilot_port: 14560
    #   fdm_port_in: 9012

  - name: "skytrailer"
    color: "purple"
    start_orientaton_moos: # +x is east, +y is north [m]
      x: 100
      y: -5
      hdg: 56 # deg
    # simulation:
    #   ardupilot_port: 14570
    #   fdm_port_in: 9022

  - name: "sky4"
    color: "blue"
    start_orientaton_moos: # +x is east, +y is north [m]
      x: 100
      y: -200
      hdg: 56 # deg

  - name: "sky5"
    color: "red"
    start_orientaton_moos: # +x is east, +y is north [m]
      x: -15
      y: 85
      hdg: 56 # deg

  - name: "sky6"
    color: "green"
    start_orientaton_moos: # +x is east, +y is north [m]
      x: 16
      y: -96
      hdg: 56 # deg

  - name: "sky7"
    color: "brown"
    start_orientaton_moos: # +x is east, +y is north [m]
      x: 95
      y: -100
      hdg: 56 # deg

  - name: "sky8"
    color: "magenta"
    start_orientaton_moos: # +x is east, +y is north [m]
      x: 75
      y: 110
      hdg: 56 # deg

  - name: "sky9"
    color: "cyan"
    start_orientaton_moos: # +x is east, +y is north [m]
      x: -78
      y: -150
      hdg: 56 # deg
